.logo{

    width:170px;

    margin-bottom:30px;

    animation:float 4s ease-in-out infinite;

filter:

    drop-shadow(0 0 20px rgba(255,215,0,.45));
    
}



.hero h1{

    font-size:clamp(2rem,5vw,3.8rem);

    font-weight:800;

    color:var(--gold);

    text-transform:uppercase;

    letter-spacing:2px;

    text-shadow:

        0 0 10px rgba(255,215,0,.9),

        0 0 25px rgba(255,215,0,.4);

}



.hero p{

    margin-top:25px;

    font-size:1.35rem;

    font-weight:600;

    color:var(--white);

}



.hero span{

    display:block;

    margin-top:18px;

    color:var(--gray);

    font-size:1rem;

    line-height:1.7;

}

.buttons{

    margin-top:45px;

    display:flex;

    justify-content:center;

    gap:20px;

    flex-wrap:wrap;

}



.btn{

    text-decoration:none;

    color:white;

    padding:16px 34px;

    border-radius:50px;

    font-weight:700;

    transition:.35s;

    cursor:pointer;

    position:relative;

overflow:hidden;
}

.btn::before{

    content:"";

    position:absolute;

    top:0;

    left:-120%;

    width:60%;

    height:100%;

    background:

        linear-gradient(

            90deg,

            transparent,

            rgba(255,255,255,.4),

            transparent

        );

    transform:skewX(-25deg);

    transition:.7s;

}

.btn:hover::before{

    left:160%;

}

.primary{

    background:linear-gradient(
        45deg,
        var(--gold),
        var(--gold2)
    );

    color:black;

   box-shadow:

    0 0 60px rgba(0,0,0,.6),

    inset 0 0 1px rgba(255,255,255,.15),

    0 0 20px rgba(255,215,0,.08);
    
}

.background{

    position: fixed;

    inset: 0;

    z-index: -2;

    background:
        radial-gradient(
            circle at top,
            rgba(255,215,0,.08),
            transparent 45%
        ),

        radial-gradient(
            circle at bottom,
            rgba(255,180,0,.05),
            transparent 55%
        );

    animation: backgroundMove 10s ease-in-out infinite;

}

.primary:hover{

    transform:translateY(-4px);

    box-shadow:

        0 0 35px rgba(255,215,0,.65);

}



.secondary{

    border:2px solid var(--gold);

    color:var(--gold);

}



.secondary:hover{

    background:var(--gold);

    color:black;

    transform:translateY(-4px);

}

footer{

    width:100%;

    text-align:center;

    padding:25px;

    color:#777;

    font-size:.9rem;

}



@keyframes float{

    0%{

        transform:translateY(0);

    }

    50%{

        transform:translateY(-10px);

    }

    100%{

        transform:translateY(0);

    }

}

.hero{

    animation:
        fadeUp 1s ease;
}

@keyframes fadeUp{

    from{

        opacity:0;

        transform:
            translateY(40px);

    }

    to{

        opacity:1;

        transform:
            translateY(0);

    }

}

@keyframes backgroundMove{

    0%{

        transform:scale(1);

    }

    50%{

        transform:scale(1.05);

    }

    100%{

        transform:scale(1);

    }

}
